__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

.venv/
venv/
env/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

*.egg-info/
.env
.airflow/
.DS_Store
